@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

main {
    max-width: 650px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 10px;
}

h1 span {
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

h2 {
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

form {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    text-align: left;
}

form small {
    display: none;
    color: hsl(354, 100%, 66%);
    font-style: italic;
    font-size: 12px;
    z-index: 100;
    margin: 0 20px 40px;
}

.form-left {
    flex: 0.7;
}

input {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    padding: 20px 25px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
}

input::placeholder {
    color: hsl(223, 100%, 88%);
}

input.error {
    border-color: hsl(354, 100%, 66%);
}

input.error::placeholder {
    color: hsl(354, 100%, 66%);
}

.btn {
    background-color: hsl(223, 87%, 63%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88%);
    color: #fff;
    cursor: pointer;
    outline: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    margin-left: 20px;
    flex: 0.3;
}

.btn:hover {
    opacity: 0.8;
}

.illustration {
    max-width: 100%;
    margin: 60px 0;
}

.social-list {
    display: flex;
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.social-list li {
    margin: 10px;
}

.social-list li a {
    border: 1px solid hsl(0, 7%, 89%);
    color: hsl(223, 87%, 63%);
    font-size: 18px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-list li a:hover {
    background-color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    color: #fff;
}

footer p {
    color: hsl(0, 0%, 59%);
}

@media screen and (max-width: 650px) {
    form {
        flex-direction: column;
        text-align: center;
    }
    
    .form-left {
        width: 100%;
    }

    .btn {
        margin-left: 0;
        width: 100%;
    }
}

/* footer styles */
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}